{% extends "base.html.twig" %}

{#  la fonction parent() pour recuperer la valeur par defaut  #}
{% block title %}
 {{ parent() }} - Accueil
{% endblock %}


{% block body %}

    <h1>Accueil</h1>
    <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque debitis animi asperiores unde, recusandae deserunt iusto sed ducimus aspernatur quod, iure velit totam officia ipsa molestiae, est in minima eaque.</span><span>Dolores aspernatur saepe officia deserunt officiis enim omnis, laborum incidunt perspiciatis assumenda, cupiditate voluptas, voluptatem aut modi inventore quam quod ipsa dolore rem accusantium hic consequuntur. Provident et voluptate in.</span><span>Necessitatibus repudiandae ipsum consequatur odit, accusamus magni consequuntur nam porro voluptates reprehenderit delectus deserunt soluta corporis quis hic voluptatum, libero natus eius praesentium. Eum explicabo voluptates dolore. Rerum, sequi tenetur.</span><span>Adipisci earum maiores sint eveniet quod minus obcaecati doloremque quis. Veritatis quis dolor eligendi qui assumenda magnam quasi ipsa repellat eveniet natus. Quidem molestias similique fugit excepturi sit nulla aperiam.</span><span>Explicabo, porro sint cupiditate doloribus animi unde recusandae cumque libero dolorem sunt? Deserunt accusamus nihil placeat? Mollitia dignissimos, minus voluptates, quas porro est dolorum voluptate nulla, distinctio pariatur fugiat qui.</span></p>
{% endblock %}