{# Page d'accueil #}
{% set title = "Démo - Accueil" %}
{% set menu = ["Accueil","Contact","Blog","A propos"] %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    
    <title>{% block title %}Démo{% endblock %}</title>
</head>
<body>
    <div class="container-fluid">
        {% include "parts/header.html.twig" %}
        <main>
            {% block content %}{% endblock %}       
        </main>
        {% include "parts/footer.html.twig" %}
    </div>
</body>
</html>